.main {
  display: flex;
  flex-direction: column;

  width: 1024px;

  flex: 1;

  margin: 100px auto 0;
}
.logo {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0 auto -55px;
}
.logo img {
  width: 154px;
  height: 160px;
}
.about-user {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: flex-end;
  max-width: 1024px;
}
.about-user img {
  margin-bottom: 0;
  margin-right: 30px;
}
.about-user__items {
  display: flex;

  margin-left: 20px;
  margin-bottom: 15px;
}
.user-item:nth-child(2) {
  margin: 0;

  font-family: "Fira Sans";
}
.user-item {
  font-size: 1.8em;

  margin-right: 15px;
}
.feed {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-bottom: 30px;
}
.feed-font {
  font-family: "Fira Sans";
  font-size: 2em;
}
.feed-element {
  display: flex;
  flex-direction: column;
}
.feed-engine__items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.feed-items {
  display: flex;
  flex-direction: column;
}
.feed-item {
  margin-bottom: 30px;
}
.feed-item:nth-last-child(1) {
  margin: 0;
}
.feed-requests__items {
  display: flex;
  flex-direction: column;
}
.feed-requests__items .feed-item {
  margin-bottom: 10px;
  text-align: right;
}
