<footer class="footer">
  <div class="footer-title" style="margin-bottom: 10px">
    Built with&nbsp;<span class="decor-r">❤︎</span>&nbsp;by&nbsp;<span
      class="decor-r"
      >ov3rwrite</span
    >,&nbsp;
    <span class="decor-r">uewquewqueqwue</span>
  </div>
  <div class="footer-items">
    <a
      href="https://github.com/ov3rwrite/multisearch"
      class="footer-item decor-under"
      >source</a
    >
    <a
      href="https://github.com/ov3rwrite/multisearch/blob/main/LICENSE"
      class="footer-item decor-under"
      >license</a
    >
  </div>
</footer>
