html, body{
    font-family: 'Montserrat', 'MS Gothic', Roboto, monospace, sans-serif;;
    font-size: 10px;
  
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
    padding: 0;
    margin: 0;
  
    background-color: #191919;
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    
    min-height: 100vh;
    
    color: #fff;
  }
