<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="MultiSearch engine" content="Welcome to multiSearch engine" />
    <meta charset="UTF-8" />
    <meta name="theme-color" content="#191919" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Sans&family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', path='styles/homepage.css') }}"
    />
    <!-- <link rel="icon" href="images/.ico" type="image/x-icon" sizes="64x64 32x32 24x24 16x16" > -->
    <link
      rel="icon"
      href="{{ url_for('static', path='images/logo_page.png') }}"
      type="image/png"
      sizes="192x192"
    />
    <link
      rel="icon"
      href="{{ url_for('static', path='images/logo_page.png') }}"
      type="image/png"
      sizes="512x512"
    />
    <title>MultiSearch</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="main">
        <div class="logo">
          <img
            src="{{ url_for('static', path='images/logo.png') }}"
            alt="logo"
          />
          <h1>MultiSearch</h1>
        </div>
        <div class="about-user">
          <div style="display: flex; flex-direction: row">
            <div class="about-user__items">
              <span class="user-item">Your IP:</span>
              <span class="user-item decor-under">127.0.0.1</span>
            </div>
            <div class="about-user__items">
              <span class="user-item">Your popular request:</span>
              <span class="user-item decor-under">Why im idiot?</span>
            </div>
          </div>
          <img
            src="{{ url_for('static', path='images/terraria_tree.png') }}"
            alt=""
            style="width: 77px; height: 143px"
          />
        </div>
        <div class="search-bar">
          <input
            class="search-bar__input"
            placeholder="Search..."
            type="text"
          />
          <a href="#" class="search-bar__magnifier unselectable">
            <svg
              width="37"
              height="37"
              viewBox="0 0 37 37"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M18.5 0C8.29898 0 0 8.29898 0 18.5C0 28.701 8.29898 37 18.5 37C28.701 37 37 28.701 37 18.5C37 8.29898 28.701 0 18.5 0ZM27.2981 27.2981C27.009 27.587 26.617 27.7493 26.2083 27.7493C25.7996 27.7493 25.4077 27.587 25.1186 27.2981L20.9908 23.1712C19.2469 24.3712 17.1175 24.8762 15.0205 24.5871C12.9235 24.2979 11.0103 23.2356 9.65623 21.6084C8.30217 19.9813 7.60507 17.9069 7.70172 15.7923C7.79836 13.6776 8.68178 11.6754 10.1786 10.1786C11.6754 8.68178 13.6776 7.79836 15.7923 7.70172C17.9069 7.60507 19.9813 8.30217 21.6084 9.65623C23.2356 11.0103 24.2979 12.9235 24.5871 15.0205C24.8762 17.1175 24.3712 19.2469 23.1712 20.9908L27.2981 25.1186C27.587 25.4077 27.7493 25.7996 27.7493 26.2083C27.7493 26.617 27.587 27.009 27.2981 27.2981Z"
                fill="#B4CE7C"
              />
              <path
                d="M16.1875 21.5833C19.1675 21.5833 21.5833 19.1675 21.5833 16.1875C21.5833 13.2075 19.1675 10.7917 16.1875 10.7917C13.2074 10.7917 10.7916 13.2075 10.7916 16.1875C10.7916 19.1675 13.2074 21.5833 16.1875 21.5833Z"
                fill="#B4CE7C"
              />
            </svg>
          </a>
        </div>
        <div class="feed">
          <div class="feed-element">
            <h2>Search engines included for search</h2>
            <div class="feed-engine__items feed-font decor-g">
              <div class="feed-items">
                <div class="feed-item">Google</div>
                <div class="feed-item">Bing</div>
              </div>
              <div class="feed-items">
                <div class="feed-item">Yandex</div>
                <div class="feed-item">Yahoo</div>
              </div>
              <div class="feed-items">
                <div class="feed-item">DuckDuckGo</div>
                <div class="feed-item">Who????</div>
              </div>
            </div>
          </div>
          <div class="feed-element">
            <h2>A few recent requests</h2>
            <div class="feed-requests__items feed-font decor-g">
              <div class="feed-item">Why im idiot?</div>
            </div>
          </div>
        </div>
        <a href="#" style="font-size: 1.4em; color: #ababab; cursor: pointer"
          >see the full list...</a
        >
      </div>
      <footer class="footer">
        <div class="footer-title" style="margin-bottom: 10px">
          Built with&nbsp;<span class="decor-r">❤︎</span>&nbsp;by&nbsp;<span
            class="decor-r"
            >ov3rwrite</span
          >,&nbsp;
          <span class="decor-r">uewquewqueqwue</span>
        </div>
        <div class="footer-items">
          <a href="#" class="footer-item decor-under">source</a>
          <a href="#" class="footer-item decor-under">license</a>
        </div>
      </footer>
    </div>
  </body>
</html>
